<footer class="footer">
    <div class="footer-content">
        <div>
            <h5>eLivraria</h5>
            <p>Página criada para aula de Programação para Internet I. IFSC Câmpus Tubarão - SC.</p>
        </div>
        <div>
            <h5>Links</h5>
            <ul>
                <li><a href="http://tubarao.ifsc.edu.br/">IFSC</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <p><i class="material-icons">copyright</i> Rodrigo Carara Brolese - 2019</p>
    </div>
</footer>
<script src="{{'js/genericFunction.js'}}"></script>
