{% extends '_layouts/layout.njk' %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ url }}{{ 'css/login/geral.css'  }}">
{% endblock %}

{% block title %}Login - eLivraria{% endblock %}

{% block content %}
    <div>

    </div>
{% endblock %}